nav {
    background: transparent;
    position: absolute;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;

    margin: 0;
    padding: 0 10%;
}

nav .logo img {
    width: 120px;
    height: auto;
    transition: all 0.3s ease;
}

nav .logo img:hover {
    filter: brightness(80%);
}

.nav-links {
    display: flex;
    gap: 2.2rem;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    color: var(--bg-two);
    font-size: 24px;
    font-family: 'inter', sans-serif;

    text-decoration: none;
    transition: all 0.3s ease;
}

.nav-links li a:hover {
    color: var(--main-yellow);
}

.btn-main {
    display: inline-block;
    padding: 18px 45px;
    background-color: var(--main-yellow);
    color: #1a1a1a;
    border: 2px solid var(--main-yellow);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800;
    font-size: 0.9rem;
    letter-spacing: 3px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    cursor: pointer;
}

.btn-main:hover {
    background-color: transparent;
    color: var(--main-yellow);
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(241, 196, 15, 0.3);
}